<% layout('layout') -%>

<h1>Add a worker</h1>
<form id="add" action="/add" method="post">

<p>
<label for="type">Type:</label><br />
<input name="type" />
</p>

<p>
<label for="host">Host:</label><br />
<input type="Host" name="host" />
</p>

<p>
<label for="port">Port:</label><br />
<input type="Port" name="port" />
</p>

<p>
<input type="submit">
</p>
</form>

