<% layout('layout') -%>

<h1>Remove a worker</h1>
<form id="remove" action="/remove" method="post">

<p>
<label for="id">ID:</label><br />
<input name="id" />
</p>

<p>
<input type="submit">
</p>
</form>

